################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/bin/Debug/netcoreapp3.1
/.vs/FaunadbShopApplication
